.header {
    text-align: center;
    margin: 20px 0;
  }
  
  .header h1 {
    
    color: #FCFCFC;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .header p {
    font-size: 2rem;
    color: #8758FF;
  }
  