
/* Adiciona espaçamento entre os componentes dentro do container */
.container > *:not(:last-child) {
  margin-bottom: 20px; /* Adiciona espaçamento inferior, exceto no último filho */
}

/* Estilos para o componente Container */
.container {
  width: 40%;
  display: flex;
  flex-direction: column; /* Garante que os filhos sejam organizados em coluna */
  justify-content: center; /* Centraliza verticalmente o conteúdo */
  align-items: center; /* Centraliza horizontalmente o conteúdo */

 
  padding: 20px;
  background-color: #1E123B;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-button{
  width: 100%;
  display: flex;
  justify-content: end;
}

