/* Estilos globais para o aplicativo */
.App {
  width: 100%; /* Define a largura máxima do conteúdo */
  height: 100%;
  background-color: #8758FF;
}

/* Estilos gerais para botões */
button {
  padding: 10px 20px; /* Espaçamento interno do botão */
  margin-top: 20px; /* Espaçamento superior */
  font-size: 1rem; /* Tamanho da fonte */
  cursor: pointer; /* Altera o cursor para uma mãozinha ao passar o mouse */
  border: none; /* Remove a borda padrão */
  border-radius: 4px; /* Bordas arredondadas */
  background-color: #007bff; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
}
