/* Remove as bolinhas padrão dos itens da lista (list-style-type) e remove o padding padrão da lista */
.task-list {
  list-style-type: none; /* Remove o estilo de lista padrão (bolinhas) */
  padding: 0; /* Remove o espaçamento interno padrão */
  width: 100%;
  
}

/* Estiliza cada item da lista de tarefas */
.task-item {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 10px; 
  border: black solid 1px;
  border-radius: 5px;
  background-color: #FCFCFC;
}

.task-div{
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Estiliza o checkbox, adicionando um espaço à direita */
.task-item input[type="checkbox"] {
  margin: 15px 15px; /* Espaçamento à direita do checkbox */
  width: 27px;
  height: 27px;
  
}

/* Aplica um estilo ao texto da tarefa quando ela estiver marcada como completa */
.task-item input.completed {
   
   background-color: #6C45CE; /* Muda a cor do texto para um cinza claro */
}

/* Estiliza os botões de editar e excluir */
.task-item button {
  
  background: none; /* Remove o fundo padrão do botão */
  border: none; /* Remove a borda padrão do botão */
  cursor: pointer; /* Altera o cursor para uma mãozinha ao passar o mouse */
}
