/* Remove as bolinhas padrão dos itens da lista (list-style-type) e remove o padding padrão da lista */
.task-list {
  list-style-type: none; /* Remove o estilo de lista padrão (bolinhas) */
  padding: 0; /* Remove o espaçamento interno padrão */
  width: 100%;
  
}

/* Estilo padrão do item da tarefa */
.task-item {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 10px; 
  border: black solid 1px;
  border-radius: 5px;
  background-color: #FCFCFC; /* Cor de fundo padrão */
}

/* Estilo aplicado quando o checkbox está marcado */
.task-item.task-completed {
  background-color: #6C45CE; /* Cor de fundo ao marcar */
}

/* Estilo opcional para o texto dentro do item marcado */
.task-item.task-completed .completed {
  color: white; /* Muda a cor do texto quando marcado */
}


.task-div{
  display: flex;
  align-items: center;
  justify-content: center;

}



.task-item input[type="checkbox"] {
  appearance: none; /* Remove o estilo padrão do checkbox */
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 27px;
  width: 27px;
  background-color: #BDA4FF; 
  border: 1px solid #BDA4FF;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin: 15px;
  
}

/* Estilo quando o checkbox está marcado */
.task-item input[type="checkbox"]:checked {
  background-image: url('../../asseets/Group\ 24.png');
  border: none;

}

/* Estilo quando o checkbox está com o hover */
.task-item input[type="checkbox"]:hover {
  background-color: #ddd; 
}



/* Estiliza os botões de editar e excluir */
.task-item button {
  
  background: none; /* Remove o fundo padrão do botão */
  border: none; /* Remove a borda padrão do botão */
  cursor: pointer; /* Altera o cursor para uma mãozinha ao passar o mouse */
}
